html {
    font-family: "Poppins", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  .contact {
    padding: 10px;
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #99101C;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  .section-title {
    text-align: center;
    padding-bottom: 40px;
  }
  .section-title h2 {
    font-size: 64px;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color:  #99101C;
}
.section-title h3 {
  font-family: "Poppins",sans-serif;
  text-transform: lowercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color:  #99101C;
}
  
  #container {
    border: solid 3px #99101C;
    border-radius:3%;
    
    
    max-width: 650px;
    max-height: 650px;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  form {
    padding: 45px;
  }
  
  h2 {
    color: #99101C;
    font-size: 32px;
    font-weight: bold;
    text-transform: lowercase;
    
    text-align: center;
  }
  
  .email {
     
      width: 100%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #99101C;
      color: #99101C;
      font-size: 1.000em;
    font-weight: normal;
    
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('http://web.missouri.edu/~blly4b/ISLT7360/FinalProject/FINAL/icon-ios7-arrow-down-32.png') no-repeat right;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #99101C;
  }
  
  #form_button {
    background: none;
    border: solid 2px #99101C;
    color: #99101C;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .submit {
    text-align: center;
  }
  
  #form_button:hover {
    background: #99101C;
    color: #ffffff;
  }

.row-relative {position: relative;}


.col-border{
    border-left: 4px solid #99101C;
    padding-left: 0;
    position:static;
    
  }
  
  .card-testi{
    margin-top:10px;
    border-bottom: 3px solid #99101C;
  }
  .user{
    
    border: none;
    
    border-bottom: 1px solid #A0A0A0;
     
      color: black;
      font-size: 1.100em;
      padding-bottom: 10px;
    font-weight: normal;
    

  }